* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111111;
    color: white;
    line-height: 1.6;
}

    /* Common Container  */

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

    /* Links  */

a {
    text-decoration: none;
    color: white;
}

    /* Lists  */

ul {
    list-style: none;
}


    /* Img */

img {
    max-width: 100%;
    display: block;
}


    /* Navbar  */

.navbar {
    width: 100%;
    background-color: #000000;
    border-bottom: 2px solid #d62828;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

    /* Logo  */

.logo img{
    width:170px;
    height:auto;
    display:block;
}

    /* Menu  */

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin-left: 30px;
}

.nav-menu li a {
    font-size: 17px;
    font-weight: bold;
    transition: 0.3s;
}

.nav-menu li a:hover {
    color: #d62828;
}

.login-btn{
    background:#d62828;
    padding:10px 22px;
    border-radius:5px;

}

.login-btn:hover{
    background:#b71c1c;
    color:white !important;
}

    /* Hero Section Starts */

.hero{
    width:100%;
    background-color:#1b1b1b;
    padding: 120px 0;
}

.hero-content{
    display:flex;
    justify-content:space-between;
    gap:70px;
    align-items:center;
}

.hero-text{
    width:50%;
}

.hero-text h4{
    color:#d62828;
    font-size:18px;
    margin-bottom:15px;
    letter-spacing:2px;
}

.hero-text h1{
    font-size:50px;
    line-height:60px;
    margin-bottom:25px;
}

.hero-text p{
    font-size:18px;
    color:#d8d8d8;
    margin-bottom:35px;
}

.hero-text span{
    color:#d62828;
}

.hero-image{
    width:45%;
    text-align:right;
}

.hero-image img{
    width: 500px;
    margin-top: 30px;
}

.hero-content{
    gap: 70px;
}

    /* BUTTONS */

.btn {
    display: inline-block;
    background-color: #d62828;
    color: white;
    padding: 15px 35px;
    border-radius: 5px;
    margin-right: 15px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #b71c1c;
}

.btn-outline {
    background-color: transparent;
    border: 2px solid #d62828;
}

.btn-outline:hover {
    background-color: #d62828;
}
    /* Hero Section Ends */

    /* Categories Section Start */

.categories {
    padding: 100px 0;
    background-color: #111111;
}

.section-heading {
    text-align: center;
    margin-bottom: 60px;
}

.section-heading h5 {
    color: #e53935;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.section-heading h2 {
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 15px;
}

.section-heading p {
    color: #cccccc;
    font-size: 18px;
    max-width: 650px;
    margin: 0 auto;
    line-height: 1.8;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.category-card {
    background-color: #1b1b1b;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

.category-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

.category-card h3 {
    color: #ffffff;
    font-size: 24px;
    padding: 20px;
}

.category-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(229, 57, 53, 0.3);
}

.category-card:hover h3 {
    color: #e53935;
}

    /* Categories Section End */

    /* Featured Menu Section Start */

.featured-menu {
    padding: 100px 0;
    background-color: #181818;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.menu-card {
    background-color: #222222;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
}

.menu-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(229, 57, 53, 0.3);
}

.menu-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    display: block;
}

.menu-content {
    padding: 25px;
}

.menu-content h3 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 12px;
}

.menu-content p {
    color: #cccccc;
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.menu-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.price {
    color: #e53935;
    font-size: 24px;
    font-weight: bold;
}

.rating {
    color: #ffc107;
    font-size: 18px;
}

.menu-btn {
    display: inline-block;
    width: 100%;
    padding: 14px;
    background-color: #e53935;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
}

.menu-btn:hover {
    background-color: #ffffff;
    color: #e53935;
}

    /* Featured Menu Section End */

    /* Offer Banner Section Start */

.offer-banner {
    padding: 120px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.65)),
    url("../images/offers/offer-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.offer-content {
    max-width: 700px;
    margin: 0 auto;
}

.offer-content h5 {
    color: #e53935;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.offer-content h2 {
    color: #ffffff;
    font-size: 50px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.offer-content p {
    color: #dddddd;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 35px;
}

.offer-btn {
    display: inline-block;
    padding: 15px 40px;
    background-color: #e53935;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    transition: 0.3s;
}

.offer-btn:hover {
    background-color: #ffffff;
    color: #e53935;
}

    /* Offer Banner Section End */

    /* Why Choose Us Section Start */

.why-choose-us {
    padding: 100px 0;
    background-color: #111111;
}

.choose-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.choose-card {
    background-color: #1b1b1b;
    text-align: center;
    padding: 40px 25px;
    border-radius: 15px;
    transition: 0.3s;
}

.choose-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(229, 57, 53, 0.3);
}

.choose-icon {
    font-size: 55px;
    margin-bottom: 20px;
}

.choose-card h3 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 15px;
}

.choose-card p {
    color: #cccccc;
    font-size: 16px;
    line-height: 1.8;
}

.choose-card:hover h3 {
    color: #e53935;
}

    /* Why Choose Us Section End */
    
    /* Testimonials Section Starts*/

.testimonials {
    padding: 80px 0;
    background-color: #111111;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.testimonial-card {
    background-color: #1b1b1b;
    border-radius: 15px;
    padding: 30px 25px;
    text-align: center;
    transition: 0.3s;
    border: 1px solid #2a2a2a;
}

.testimonial-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(255, 0, 0, 0.15);
}

.testimonial-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ff3b3b;
    margin-bottom: 20px;
}

.testimonial-card h3 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 10px;
}

.stars {
    color: #ffc107;
    font-size: 20px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.testimonial-card p {
    color: #cccccc;
    font-size: 15px;
    line-height: 1.8;
}    

    /* Testimonials Section Starts*/





    /* Queries  */

    /* Hero Section Responsive Queries  */
@media screen and (max-width:992px){

    .hero-content{
        flex-direction:column;
        text-align:center;
    }

    .hero-text{
        width:100%;
        margin-bottom:50px;
    }

    .hero-image{
        width:100%;
        text-align:center;
    }

    .hero-image img{
        width:320px;
    }

}


@media screen and (max-width:768px) {

    .navbar-content {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 20px;
    }

    .nav-menu {
        flex-direction: column;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    .hero {
        padding: 60px 0;
    }

    .hero-text h1 {
        font-size: 38px;
        line-height: 50px;
    }

    .hero-text p {
        font-size: 18px;
    }

    .hero-image img {
        width: 280px;
    }

    .btn {
        display: block;
        width: 220px;
        margin: 15px auto;
        text-align: center;
    }

}
/* TALHA TEST */