* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111111;
    color: white;
    line-height: 1.6;
}

    /* Common Container  */

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

    /* Links  */

a {
    text-decoration: none;
    color: white;
}

    /* Lists  */

ul {
    list-style: none;
}


    /* Img */

img {
    max-width: 100%;
    display: block;
}


    /* Navbar  */

.navbar {
    width: 100%;
    background-color: #000000;
    border-bottom: 2px solid #d62828;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

    /* Logo  */

.logo img{
    width:170px;
    height:auto;
    display:block;
}

    /* Menu  */

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin-left: 30px;
}

.nav-menu li a {
    font-size: 17px;
    font-weight: bold;
    transition: 0.3s;
}

.nav-menu li a:hover {
    color: #d62828;
}

.login-btn{
    background:#d62828;
    padding:10px 22px;
    border-radius:5px;

}

.login-btn:hover{
    background:#b71c1c;
    color:white !important;
}

    /* Hero Section  */

.hero{
    width:100%;
    background-color:#1b1b1b;
    padding: 120px 0;
}

.hero-content{
    display:flex;
    justify-content:space-between;
    gap:70px;
    align-items:center;
}

.hero-text{
    width:50%;
}

.hero-text h4{
    color:#d62828;
    font-size:18px;
    margin-bottom:15px;
    letter-spacing:2px;
}

.hero-text h1{
    font-size:50px;
    line-height:60px;
    margin-bottom:25px;
}

.hero-text p{
    font-size:18px;
    color:#d8d8d8;
    margin-bottom:35px;
}

.hero-text span{
    color:#d62828;
}

.hero-image{
    width:45%;
    text-align:right;
}

.hero-image img{
    width: 500px;
}

.hero-content{
    gap: 70px;
}

    /* BUTTONS */

.btn {
    display: inline-block;
    background-color: #d62828;
    color: white;
    padding: 15px 35px;
    border-radius: 5px;
    margin-right: 15px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #b71c1c;
}

.btn-outline {
    background-color: transparent;
    border: 2px solid #d62828;
}

.btn-outline:hover {
    background-color: #d62828;
}


    /* Queries  */

@media screen and (max-width:992px){

    .hero-content{
        flex-direction:column;
        text-align:center;
    }

    .hero-text{
        width:100%;
        margin-bottom:50px;
    }

    .hero-image{
        width:100%;
        text-align:center;
    }

    .hero-image img{
        width:320px;
    }

}


@media screen and (max-width:768px) {

    .navbar-content {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 20px;
    }

    .nav-menu {
        flex-direction: column;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    .hero {
        padding: 60px 0;
    }

    .hero-text h1 {
        font-size: 38px;
        line-height: 50px;
    }

    .hero-text p {
        font-size: 18px;
    }

    .hero-image img {
        width: 280px;
    }

    .btn {
        display: block;
        width: 220px;
        margin: 15px auto;
        text-align: center;
    }

}